/* Inicio block  nav  */
.moyene-shell-nav {
  position: relative;
  max-width: 660px;
  top: 0px;
  width: 514px;
  height: 35px;
  margin: 0 auto;
  /* background: rgba(0, 0, 0, .4); */
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

#moyene_shell-nav_logo h3 {
  width: 98px;
  height: 24px;
  float: left;
  margin: 4px 10px;
  cursor: pointer;
  background-color: transparent;
  font-family: 'Amaranth', sans-serif !important;
  color: #fff;

}

#moyene_shell-nav_logo h3 {
  font-size: 1.4rem;


}


#moyene_shell_nav_search {
  float: left;
  position: relative;
  z-index: 1;
  width: 228px;
  height: 24px;
  margin: 4px 0px;
}

#moyene_shell_nav_search input {
  width: 90%;
  height: 24px;
  border-radius: 4px;
  background: white;
  border: 0;
  padding-left: 5px;
  font-size: 0.8rem;
  font-weight: lighter;
}


#moyene_shell_nav_services {
  top: 0;
  z-index: 1;
  right: 4px;
  /* margin-top: 6px; */
  /* width: 125px; */
  height: 24px;
  margin: 4px 10px;


}

#moyene_shell_nav_services .icon {
  cursor: pointer;
  /* background: url(images/widget.png) no-repeat; */
  width: 24px;
  height: 24px;
  float: left;
  margin-top: 4px;
  margin-right: 6px;
  color: white;
  fill: white;
}


#moyene_shell_nav_services div.notification {
  background: url(/assets/fa/svgs/solid/bell.svg) no-repeat;

}


.moyene-notification-container {
  max-height: 350px;
  overflow: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
}




.moyene-truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*  fim block navegacao */


/* inicio componente bootstrap personalizado */
.dropdown {
  display: inline-block;
}

#moyene_shell_block_topnav .dropdown-menu {
  border: 1px solid rgba(102, 91, 91, 0.74);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: auto;
  padding: 0px 10px;
  min-width: 20rem;
  transform: translate3d(-151px, 39px, 0px) !important;
}

.dropdown-menu img {
  position: relative;
  margin-right: 15px;
  top: 3px;
  left: 5px;
}



.dropdown-menu .notification-user {
  font-size: .85rem;
}

.dropdown-menu .notification-time {
  font-size: .79rem;
  color: #8492a6;

}

.dropdown-menu .notification-body {
  font-size: .85rem;
  color: #8492a6;
}

.dropdown-item {
  position: relative;
  padding-left: 10px;
  height: auto;
}
.dropdown-menu .dropdown-item:hover {
  cursor: pointer;
  background-color: #f8f9fa !important;
}


.dropdown-notification .dropdown-item,
.dropdown-message .dropdown-item,
.dropdown-phone .dropdown-item {
  min-height: 50px;
}


.dropdown-poweroff .dropdown-menu {
  min-width: 15rem;
  /* !important; */

  transform: translate3d(-115px, 24px, 0px) !important;
}

.dropdown-poweroff .dropdown-item {
  min-height: 30px;
}



.dropdown-item i {
  font-size: 11px;
  color: blue;
}



  .dropdown-notification .moyene-notification-container svg {
  height: 25px;
  margin-right: 10px;
  /* margin-top: 2px; */
  margin-left: 5px;
}


.dropdown .dropdown-item {
  padding: 0
}

/* logout  */


/* fim componente bootstrap personalizado */


/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  left: 0;
  top: 0;
  /* background-color: rgb(0, 0, 0);
  /* Black fallback color */
  /* background-color: rgba(0, 0, 0, 0.9); */ 
  /* Black w/opacity */
  overflow-y: hidden;
  /* Disable vertical scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */

  margin-left: auto;
  margin-right: auto;
  text-align: center;


}


.overlay-content {
  padding-top: 100px;
  color: white;
}

.overlay .logout-user {
  margin-bottom: 35px !important;
  text-align: center;

}

#avatar-user::before {
  content: 'teste';
  /* display: inline-block; */
  background: blue;
  width: 80px;
  height: 80px;
  /* border: 1px solid blue; */
}

.overlay .logout-user svg {
  font-size: 50px;
  margin-bottom: 5px;
}

.overlay .logout-option {
  margin-bottom: 20px;
}

.overlay .logout-option span {
  margin-bottom: 15px;

}

.overlay .logout-option div {
  display: inline-block;
  margin-left: 35px;
  margin-right: 35px;
  text-align: center;
}

.overlay .logout-option svg,
.overlay .logout-option span {
  font-size: 35pt;
}


.overlay .logout-option .logout-action {
  display: inline-block;
  text-decoration: none;
  margin: 0 35px;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}