.card {
    height: 250px;
    color: #fff;
    background: linear-gradient(30deg, rgba(121, 110, 255, 0.95) 0%, rgba(33, 200, 122, 0.95) 100%),
    url('https://unsplash.it/200/300?image=0');
    background-size: cover;
    position: relative;
    /* background-repeat: repeat-x; */
}


.card-category, .card-description, .card-image {
    position: absolute;
}

.card-category{
    top: 10px;
    left: 10px;
}
.card-description {
    bottom: 10px;
    left: 10px;
}
.card-image { 
    top: 10px;
    right: 10px;
    
}